.container {
  position: relative;
}

.burger-menu {
  position: fixed;
  top: 30px;
  left: 30px;
  cursor: pointer;
}

.line {
  width: 40px;
  height: 4px;
  background-color: #E40134;
  margin: 5px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.menu {
  display: none;
  position: fixed;
  top: calc(57px);
  left: calc(70px);
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 15px;
  border: 2px solid #E40134;
}



.menu a {
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
  font-weight: normal;
  transition: font-weight 0.2s;
}

.menu a:hover {
  font-weight: bold;
}

.menu.open {
  display: flex;
}

.buttons-container {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 999;
  /* Чтобы кнопки всегда находились поверх других элементов */
}

.login-button,
.register-button {
  background-color: #E40134;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover {
  background-color: #FF3355;
}

.logo-container {
  position: absolute;
  top: 30px;
  left: 44%;
}

.textmain-container {
  position: absolute;
  top: 400px;
  left: 30px;
  display: flex;
}

.textmain {
  font-weight: bold;
  font-size: 40px;
  left: 70px;
  margin-right: 100px;
  text-align: left;
}

.textmain span {
  white-space: normal;
}

.banner1-container {
  position: absolute;
  top: 320px;
  left: 43%;
}

.banner2-container {
  position: absolute;
  top: 650px;
  left: 40%;
}

.socialmain-container {
  position: absolute;
  left: 30px;
  top: 750px;
}

.socialmain-icons {
  margin-top: 10px;
  left: 50px;
}

.socialmain-icons img {
  width: 25px;
  margin-right: 10px;
}

.banner3-container {
  position: absolute;
  top: 950px;
  left: 110px;
}

.otzivi-container {
  position: absolute;
  top: 1550px;
  left: 100px;
}

.submit-button {
  display: block;
  width: 850px;
  height: 60px;
  position: absolute;
  top: 2065px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  border: 2px solid black;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ddd;
}

.more-about {
  position: absolute;
  top: 2200px;
  left: 30px;
  text-align: left;
}

.more-about h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 30px;
}

.buttons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 60px;
  font-size: 20px;
  background-color: #ccc;
  border: 2px solid black;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #ddd;
}

.arrow-icon {
  width: 30px;
  height: auto;
}