.container {
    position: relative;
}

.usburger-menu {
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.usline {
    width: 40px;
    height: 4px;
    background-color: #E40134;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.menu {
    display: none;
    position: fixed;
    top: calc(57px);
    left: calc(70px);
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 15px;
    border: 2px solid #E40134;
}



.menu a {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    font-weight: normal;
    transition: font-weight 0.2s;
}

.menu a:hover {
    font-weight: bold;
}

.menu.open {
    display: flex;
}

.uslogo-container {
    position: absolute;
    top: 30px;
    left: 44%;
}

.company-history-container {
    position: absolute;
    top: 190px;
    left: 30px;
    text-align: left;
    max-width: 35vw;
}

.bold-text {
    font-weight: bold;
    font-size: 35px;
}

.semi-bold-text {
    font-weight: 600;
    font-size: 17px;
}

.company-prime-container {
    position: absolute;
    top: 190px;
    right: 30px;
    text-align: right;
    max-width: 33vw;
}


.history-button {
    position: absolute;
    top: 410px;
    left: 700px;
}

.history-button img {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: filter 0.3s;
}

.history-button span {
    display: block;
    margin-top: 5px;
}

.history-button:hover img {
    filter: brightness(1.8);
}

@media (max-width: 992px) {
    /* Код для мобильных устройств */

    .usburger-menu {
        position: absolute;
        top: 30px;
        left: 22px;
        width: 50px;
        height: 46px;
        cursor: pointer;
    }

    .usline {
        width: 40px;
        height: 4px;
        background-color: #E40134;
        margin: 11px 0;
        transition: transform 0.3s, opacity 0.3s;
    }

    .menu {
        display: none;
        position: fixed;
        top: calc(80px) !important;
        left: calc(5px) !important;
        flex-direction: column;
        background-color: #f9f9f9;
        padding: 2px !important;
        border: 2px solid #E40134;
    }

    .uslogo-container {
        position: absolute;
        top: 8px;
        left: 120px;
    }

    .uslogo {
        width: 124px !important;
        height: auto !important;
    }

    .company-history-container {
        position: absolute;
        top: 920px;
        left: 30px;
        text-align: left;
        max-width: 80vw;
    }

    .bold-text {
        font-weight: bold;
        font-size: 35px;
    }

    .semi-bold-text {
        font-weight: 600;
        font-size: 17px;
    }

    .company-prime-container {
        position: absolute;
        top: 150px;
        left: 30px;
        text-align: left;
        max-width: 300vw;
    }


    .history-button {
        position: absolute;
        top: 810px;
        left: 140px;
    }

    .history-button img {
        width: 100px;
        height: auto;
        cursor: pointer;
        transition: filter 0.3s;
    }

}